In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('creditcard.csv')

In [3]:
df.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
df.dtypes

Time      float64
V1        float64
V2        float64
V3        float64
V4        float64
V5        float64
V6        float64
V7        float64
V8        float64
V9        float64
V10       float64
V11       float64
V12       float64
V13       float64
V14       float64
V15       float64
V16       float64
V17       float64
V18       float64
V19       float64
V20       float64
V21       float64
V22       float64
V23       float64
V24       float64
V25       float64
V26       float64
V27       float64
V28       float64
Amount    float64
Class       int64
dtype: object

In [5]:
df.shape

(284807, 31)

In [8]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [10]:
df['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [17]:
#Class Level

#0 --> Normal Transation
#1 --> Fraudulent Transaction
normal=df[df.Class==0]
fraud=df[df.Class==1]

In [21]:
#measure of normal transactions
normal.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [22]:
#measure of fraud transactions
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [29]:
df.groupby('Class')['Amount'].mean()
#mean of legit transaction is 88
#where fraud transaction mean is 122
#mean of normal transaction is very different from mean of fraudelent transaction

Class
0     88.291022
1    122.211321
Name: Amount, dtype: float64

In [34]:
# sample dataset from legit transaction using Random Sampling 
#and join it with fraudelent dataset to make uniform distribution
normalsample=normal.sample(n=492)
normalsample.shape

(492, 31)

In [40]:
data = pd.concat([normalsample, fraud], axis=0)
#axis=0 joins rows

In [44]:
data.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
175101,122197.0,1.803421,-0.603899,-0.824402,-0.060093,0.511227,1.849996,-0.790359,0.589564,0.990572,...,-0.073204,-0.088979,0.359103,-0.979624,-0.563828,-0.545714,0.070695,-0.044521,43.10,0
195613,131144.0,-0.124881,0.203068,0.954452,-0.553287,-0.428297,-0.473237,0.931376,-0.140625,0.096065,...,-0.093995,-0.417770,0.484358,0.044105,-0.806845,0.147150,-0.004660,0.063804,140.98,0
233812,147713.0,1.383996,-1.902264,-3.050818,-0.242012,-0.131733,-1.114415,0.993349,-0.578045,-1.249507,...,0.172327,0.038950,-0.540079,-0.429364,0.331477,0.986202,-0.218509,-0.031960,454.96,0
233837,147724.0,-1.632475,-0.572104,0.815072,-1.734752,-1.212373,0.180560,0.992618,0.436900,-1.672663,...,-0.114668,-0.675101,0.416172,-0.397264,0.617725,0.572093,-0.262243,-0.035480,326.50,0
114579,73536.0,1.132787,0.225666,0.360481,1.008983,-0.165463,-0.296323,0.022909,0.060147,-0.236107,...,0.119099,0.355997,-0.057006,0.226142,0.542231,-0.328065,0.023050,0.008977,9.99,0

In [42]:
data.tail(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [45]:
data['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [48]:
data.groupby('Class')['Amount'].mean()

Class
0     93.129411
1    122.211321
Name: Amount, dtype: float64

In [49]:
#we have got a good sample as sample mean value is similar to population mean value
#importing model and train_test_split

from sklearn.model_selection import train_test_split   #importing train_test_split for spliting data
from sklearn.linear_model import LogisticRegression    #importing LogisticRegression as the problem is classification problem
from sklearn.metrics import accuracy_score             #importing performance matrics accury_score to check model accuracy

In [50]:
#creating two variable and storing X= all features, Y= Class

X = data.drop(columns='Class', axis=1)        #axis=1 represent column
Y = data['Class']

In [51]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
175101,122197.0,1.803421,-0.603899,-0.824402,-0.060093,0.511227,1.849996,-0.790359,0.589564,0.990572,...,-0.163408,-0.073204,-0.088979,0.359103,-0.979624,-0.563828,-0.545714,0.070695,-0.044521,43.10
195613,131144.0,-0.124881,0.203068,0.954452,-0.553287,-0.428297,-0.473237,0.931376,-0.140625,0.096065,...,0.214507,-0.093995,-0.417770,0.484358,0.044105,-0.806845,0.147150,-0.004660,0.063804,140.98
233812,147713.0,1.383996,-1.902264,-3.050818,-0.242012,-0.131733,-1.114415,0.993349,-0.578045,-1.249507,...,0.212073,0.172327,0.038950,-0.540079,-0.429364,0.331477,0.986202,-0.218509,-0.031960,454.96
233837,147724.0,-1.632475,-0.572104,0.815072,-1.734752,-1.212373,0.180560,0.992618,0.436900,-1.672663,...,0.088688,-0.114668,-0.675101,0.416172,-0.397264,0.617725,0.572093,-0.262243,-0.035480,326.50
114579,73536.0,1.132787,0.225666,0.360481,1.008983,-0.165463,-0.296323,0.022909,0.060147,-0.236107,...,-0.184861,0.119099,0.355997,-0.057006,0.226142,0.542231,-0.328065,0.023050,0.008977,9.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [52]:
Y

175101    0
195613    0
233812    0
233837    0
114579    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [53]:
#we will need to create four variable to split the data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [56]:
 X_train.shape
 Y_train.shape
 X_test.shape
 Y_test.shape

(197,)

In [58]:
model = LogisticRegression()
model.fit(X_train, Y_train)

LogisticRegression()

In [59]:
#Accurracy on Training data

X_train_predict = model.predict(X_train)
Training_data_accurary = accuracy_score(X_train_predict, Y_train)
Training_data_accurary

0.9186785260482846

In [61]:
#checking accuracy on Test/unseen date


X_test_prediction = model.predict(X_test)
Test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
Test_data_accuracy

0.8984771573604061

In [ ]:
# Logistic regression achieved high accuracy (91% on training, 89.2% on test), demonstrating its effectiveness for fraud detection.